.hidden {
  display: none !important;
}

.admin_wrapper {
  display: flex;
}

.admin_wrapper .sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
}

.admin_wrapper .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.image-tile {
  width: 150px;
  height: 150px;
  margin: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.image-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

.coategory_name-wrap form {
  display: none;
}

tr.editing .coategory_name-wrap form {
  display: block;
}

tr.editing .coategory_name-wrap > span {
  display: none;
}